@using System.Security.Claims
@{
    ViewBag.Title = "About";

    var userRoles = new List<Claim>();
    if (Request.IsAuthenticated)
    {
        var claimIdentity = User.Identity as ClaimsIdentity;
        if (claimIdentity != null)
        {
            userRoles = claimIdentity.FindAll(ClaimTypes.Role).ToList();
        }
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Vous avez actuellement les rôles suivants :</p>
<ul>
    @foreach (var role in userRoles)
    {
        <li>@role.Value</li>
    }
</ul>